@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@media(max-width:1240px){
html{
	font-size: 14px;
}
body{
	background-color: hsl(30, 38%, 92%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	margin-left: 18em;
}
img{
	width: 300px;
	height: 480px;
	border-radius: 15px 0 0 15px;
}
main{
	background-color: hsl(0, 0%, 100%);
	width: 300px;
	height: 480px;
	border-radius: 0 15px 15px 0;
}
h1{
	color: hsl(228, 12%, 48%);
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	margin-top: 2.5em;
	margin-left: 2em;
	text-transform: uppercase;
}
h2{
	font-size: 2.5rem;
	margin-right: 1em;
	margin-left: .8em;
	line-height: 1em;
	color: hsl(158, 36%, 37%);
	font-family: 'Montserrat', sans-serif;
}
.attribution{
	margin-top: 40em;
	margin-right: 5em;
}
p{
	color: hsl(228, 12%, 48%);
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	margin-left: 2em;
	line-height: 1.5em;
}
#number{
	display: inline-flex;
}
h5{
	margin-left: 1em;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	color: hsl(158, 36%, 37%);
	margin-top: .8em;
}
h6{
	margin-top: 1.9em;
	font-size: 1.2rem;
	margin-left: 1em;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	color: hsl(158, 36%, 37%);
	text-decoration: line-through;
}
button{
	width: 200px;
	height: 50px;
	margin-left: 2em;
	background-color: hsl(158, 36%, 37%);
	border: none;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 5px;
	margin-top: -2em;
<<<<<<< HEAD
=======
}
>>>>>>> 5c49b2ae5c32e582c2ccfbe48afe6de0a05a1cb3
}
@media (max-width: 800px){
	body{
		display: block;
		margin-left: 6em;
	}
	main{
		border-radius: 0;
		width: 330px;
		height: 420px;
	}
	img{
		border-radius: 0;
		margin-bottom: -3em;
		width: 330px;
		height: 320px;
	}
	h1{
		padding-top: 2em;
	}
	h2{
		font-size: 2rem;
	}
	h5{
		margin-top: .1em;
	}
	h6{
		margin-top: .5em;
	}
	button{
		margin-top: -5em;
	}
}
